########################################################
# Temp Files
########################################################
temp/


########################################################
# datalet that are not yet ready
########################################################
pglog/
pgcat/
isd/


########################################################
# Data that needs download
########################################################
# keep repo small, please download it,
covid/data/history.csv




########################################################
# Env Files
########################################################
datalets.iml
.DS_Store
.idea/
.vscode/


